doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title Publications
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1#h1 Seja Bem-Vindo!!!
    a(href='/home')
      button#button Enter