
form#form(action='/publications/update' method='POST')
          input.inputs(name="photo" type='text' value='' placeholder='Insira a imagem da publicação')
          input.inputs(name="author" type='text' value='' placeholder='Insira o nome do usuário')
          input.inputs(name="avatar" type='text' value='' placeholder='Insira a imagem do usuário')
          input.inputs(name="date" type='text' value='' placeholder='Insira a data da publicação')
          input.inputs(name="type" type='text' value='' placeholder='Insira o tipo da publicação')
          input.inputs(name="like" type='text' value='' placeholder='Insira a quantidade de like')
          input.inputs(name='comment' type='text' value='' placeholder='Insira a quantidade de comentário')
          input.inputs(name='caption' type='text' value='' placeholder='Insira a descrição da imagem')
          input#inputB(type='submit' value='atualizar')